<div id="contacts_list">
    {% if contacts %}
    <div class="container mt-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.created_at }}</td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <a class="btn btn-danger"
                           hx-post="{% url 'delete_contact' contact.pk %}"
                           hx-target="#contacts_list">Delete</a>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-danger mt-4">
        No contacts found
    </div>
    {% endif %}
</div>